
.pop-holder
        {	width:600px;
         	height:600px;
         	margin:auto;
            background-color:Gray; 
            z-index: 10000;

}


.pop-holder-scroll
{			
	      overflow-y:scroll;
          padding:25px 40px 0px 40px;
          visibility:visible;
          height:490px;
      
}
	